h1{
    font-family: 'Roboto', sans-serif;
    color:snow;

}
h2{
    font-family: 'Roboto', sans-serif;
    color: slategrey;
}
body {
     background-color: rgb(26, 29, 32);
}
.preencabezado{
    color: orange;
}
p {
    font-family: 'Lato', sans-serif;
    color: thistle;
}
section {
    background-color: rgb(10, 10, 10);
}
main{ background-color: rgb(31, 31, 32);}