*{box-sizing: border-box;}

.grid {
        
        margin: 12px;
        width: 100%;
        background-color: aqua;
        
      }
      .grid_cell_100 {
        margin: 12px;
        padding: 12px;
        max-width: 100%;
        background-color: blue;
         
      }
      .grid_cell_50 {
          
        
        background-color: rgb(150, 236, 129);
        padding: 12px;
         
      }
      
          
      .grid_cell_25 {
          margin: 12px;
          display: flex;
          background-color: chocolate;
         
      }
      


@media all and ( min-width:600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: 12px;
        
        background-color: aqua;
        
      }
      .grid_cell_100 {
        margin: 8px;
        flex:0 0 calc(100% -16px);
        background-color: blue;
         
      }
      .grid_cell_50 {
          
        
        background-color: rgb(150, 236, 129);
       
        flex: 0 0 calc(50% - 16px);
        margin: 8px;
      }
      
          
      .grid_cell_25 {
          
          margin: 8px;
          flex: 0 0 calc(25% - 16px);
          background-color: chocolate;
          justify-content: space-between;
      }
      
}