/*-------------- --------------------*/
*{box-sizing: border-box;}
/*-------------- div padre contenedor--------------------*/
.grid {  
        margin: 8px;
        width: 100%;
        background-color: aqua;
        
      }

/*-------------- div hijos con tamaño definido (%)--------------------*/
      .grid_cell_100 {
        margin: 8px;
        padding: 12px;
        max-width: 100%;
        background-color: blue;
         
      }
      .grid_cell_50 {  
        margin: 8px;
        background-color: rgb(150, 236, 129);
        padding: 12px;
         
      }
      
          
      .grid_cell_25 {
        margin: 8px;
        background-color: chocolate;
        padding: 12px;
      }
      .grid_cell_75 {
        margin: 8px;
        background-color: rgb(221, 126, 57);
        padding: 12px;
      }
      

/*-------------- cambio de resolución 600px--------------------*/
@media all and ( min-width:600px) 
{
    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: 12px;
        
        background-color: aqua;
        
      }
      .grid_cell_100 {
        margin: 8px;
        flex:0 0 calc(100% -16px);
        background-color: blue;
         
      }
      .grid_cell_50 {
        background-color: rgb(150, 236, 129);
        flex: 0 0 calc(50% - 16px);
        margin: 8px;
        padding: 12px;
      }
      
          
      .grid_cell_25 {
          
        margin: 8px;
        flex: 0 0 calc(25% - 16px);
        background-color: chocolate;
        padding: 12px;
      }
      .grid_cell_75 {
          
        margin: 8px;
        flex: 0 0 calc(75% - 16px);
        background-color: rgb(221, 126, 57);
        padding: 12px;
      }
      
}